# Задание 1

    Создайте Series из последовательности 15 значений, равномерно разбивающих отрезок [0, 20] (воспользуйтесь функцией linspace)
    Определите отношение элементов полученной серии к их предыдущим элементам.
    В результате необходимо получить среднее полученного вектора, оставив в нём только те значения, которые не более чем 1.5.

Пояснения:

    Если было бы необходимо найти последовательность из 3-х значений,
    равномерно разбивающих отрезок [0,1], то это были бы значения [0, 0.5, 1].

    Если был бы дан список элементов a = [1,2,3,12], отношения элементов к предыдущим будут равны [NaN, 2, 1.5, 4]. А на последнем этапе в таком примере останется только [1.5] и среднее значение будет также 1.5.

In [ ]:
import pandas as pd
import numpy as np

s = pd.Series(np.linspace(0, 20, 15))
print(s)

0      0.000000
1      1.428571
2      2.857143
3      4.285714
4      5.714286
5      7.142857
6      8.571429
7     10.000000
8     11.428571
9     12.857143
10    14.285714
11    15.714286
12    17.142857
13    18.571429
14    20.000000
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

s = pd.Series(np.linspace(0, 20, 15))
print(s)

s = (s/s.shift(1)).where(s/s.shift(1) <= 1.5, s/s.shift(1))
print(s)

0      0.000000
1      1.428571
2      2.857143
3      4.285714
4      5.714286
5      7.142857
6      8.571429
7     10.000000
8     11.428571
9     12.857143
10    14.285714
11    15.714286
12    17.142857
13    18.571429
14    20.000000
dtype: float64
0          NaN
1          inf
2     2.000000
3     1.500000
4     1.333333
5     1.250000
6     1.200000
7     1.166667
8     1.142857
9     1.125000
10    1.111111
11    1.100000
12    1.090909
13    1.083333
14    1.076923
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

s = pd.Series(np.linspace(0, 20, 15))
print(s)

s = (s/s.shift(1)).where(s/s.shift(1) <= 1.5)
print(s)
print(s.mean())

0      0.000000
1      1.428571
2      2.857143
3      4.285714
4      5.714286
5      7.142857
6      8.571429
7     10.000000
8     11.428571
9     12.857143
10    14.285714
11    15.714286
12    17.142857
13    18.571429
14    20.000000
dtype: float64
0          NaN
1          NaN
2          NaN
3     1.500000
4     1.333333
5     1.250000
6     1.200000
7     1.166667
8     1.142857
9     1.125000
10    1.111111
11    1.100000
12    1.090909
13    1.083333
14    1.076923
dtype: float64
1.181677812927813

# Задание 2
По клиенту получены зашумленные данные (объект s типа Series) по его транзакциям.

Для заданного ниже объекта s проделайте следующее:

    Создайте новый Series, значения которого совпадают со значениями s, а индексы - целочисленные значения от 2 до 12, не включая 12.
    Выберите из s элементы с индексами 3 и 5, после чего просуммируйте их, сохранив результат.
    Выберите из s только целочисленные элементы и вычислите их дисперсию.

Все полученные результаты округлите до 2-х знаков после запятой.
Пояснения:

    Целочисленные значения - значения, имеющие тип int.

    Дисперсия рассчитывается с помощью функции из библиотеки numpy: np.var( , ddof=0) или встроенной в python функции: .var(ddof=1)

In [ ]:
import pandas as pd
import numpy as np

s = pd.Series(data=['1', 2, 3.1, 'hi!', 5, -512, 12.42, 'sber', 10.10, 98],
              index=range(6, 26, 2))
print(s)

s1 = s
s1.index = range(2, 12)
print(s1)

6         1
8         2
10      3.1
12      hi!
14        5
16     -512
18    12.42
20     sber
22     10.1
24       98
dtype: object
2         1
3         2
4       3.1
5       hi!
6         5
7      -512
8     12.42
9      sber
10     10.1
11       98
dtype: object

In [ ]:
import pandas as pd
import numpy as np

s = pd.Series(data=['1', 2, 3.1, 'hi!', 5, -512, 12.42, 'sber', 10.10, 98],
              index=range(6, 26, 2))
print(s)

s1 = s
s1.index = range(2, 12)
print(s1)

sum1 = str(s1[3]) + s1[5]

print(sum1)

6         1
8         2
10      3.1
12      hi!
14        5
16     -512
18    12.42
20     sber
22     10.1
24       98
dtype: object
2         1
3         2
4       3.1
5       hi!
6         5
7      -512
8     12.42
9      sber
10     10.1
11       98
dtype: object
2hi!

In [ ]:
import pandas as pd
import numpy as np

s = pd.Series(data=['1', 2, 3.1, 'hi!', 5, -512, 12.42, 'sber', 10.10, 98],
              index=range(6, 26, 2))
print(s)

s1 = s
s1.index = range(2, 12)
print(s1)

# sum1 = str(s1[3]) + s1[5]
# print(sum1)

s2 = s1

for i in range(2, len(s2)+2):
    if not isinstance(s2[i], int):
        s2.pop(i)

print(s2)

a = []
for i in s2:
    a.append(i)
print(a)

print(s.var())

6         1
8         2
10      3.1
12      hi!
14        5
16     -512
18    12.42
20     sber
22     10.1
24       98
dtype: object
2         1
3         2
4       3.1
5       hi!
6         5
7      -512
8     12.42
9      sber
10     10.1
11       98
dtype: object
3        2
6        5
7     -512
11      98
dtype: object
[2, 5, -512, 98]
76788.25

In [ ]:
import pandas as pd
import numpy as np

s = pd.Series(data=['1', 2, 3.1, 'hi!', 5, -512, 12.42, 'sber', 10.10, 98],
              index=range(6, 26, 2))
print(s)

s1 = s
s1.index = range(2, 12)
print(s1)

# sum1 = str(s1[3]) + s1[5]
# print(sum1)

s2 = s1

for i in range(2, len(s2)+2):
    if not isinstance(s2[i], int):
        s2.pop(i)

print(s2)

a = []
for i in s2:
    a.append(i)
print(a)

print(np.var(a))

6         1
8         2
10      3.1
12      hi!
14        5
16     -512
18    12.42
20     sber
22     10.1
24       98
dtype: object
2         1
3         2
4       3.1
5       hi!
6         5
7      -512
8     12.42
9      sber
10     10.1
11       98
dtype: object
3        2
6        5
7     -512
11      98
dtype: object
[2, 5, -512, 98]
57591.1875

# Задание 3

    Сгенерируйте Series из 100 значений нормально распределённой СВ (np.random.normal с дефолтными параметрами - нулевым средним и единичной дисперсией).
    Возведите каждое значение серии в 3 степень, а значения индекса увеличьте в 3 раза.
    Выведите сумму элементов, строго меньших 2.6, имеющих нечётные значения индекса.
    Выведите количество значений серии меньше нуля.

Пояснения:

    Следует внимательнее использовать [ ] для выбора данных по нескольким условиям: либо выбирать данные последовательно, либо сразу по нескольким условиям, но через оператор &. Отличие оператора and от оператора &: and - выводит последнее проверенное значение, & - выводит пересечение значений. Пример: s[ _ & _ ].sum()

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(242)
s = pd.Series(data=np.random.normal(size=100))
print(s)

0    -0.357519
1     0.148448
2     0.993531
3     1.838968
4    -0.744026
        ...
95    0.950296
96    0.737315
97   -0.739985
98   -1.376260
99    0.052260
Length: 100, dtype: float64

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(242)
s = pd.Series(data=np.random.normal(size=100))
print(s)

s = s ** 3
s.index *= 3
print(s)

0    -0.357519
1     0.148448
2     0.993531
3     1.838968
4    -0.744026
        ...
95    0.950296
96    0.737315
97   -0.739985
98   -1.376260
99    0.052260
Length: 100, dtype: float64
0     -0.045698
3      0.003271
6      0.980718
9      6.219024
12    -0.411874
         ...
285    0.858176
288    0.400829
291   -0.405199
294   -2.606764
297    0.000143
Length: 100, dtype: float64

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(242)
s = pd.Series(data=np.random.normal(size=100))
print(s)

s = s ** 3
s.index *= 3
print(s)

sum1 = s.where((s < 2.6) & (s.index % 2 != 0)).sum()
print(sum1)
sum_ = s[(x % 2 != 0 for x in s.index) and (s < 2.6)].sum()
print(sum_)

0    -0.357519
1     0.148448
2     0.993531
3     1.838968
4    -0.744026
        ...
95    0.950296
96    0.737315
97   -0.739985
98   -1.376260
99    0.052260
Length: 100, dtype: float64
0     -0.045698
3      0.003271
6      0.980718
9      6.219024
12    -0.411874
         ...
285    0.858176
288    0.400829
291   -0.405199
294   -2.606764
297    0.000143
Length: 100, dtype: float64
-15.150748101821668
-34.60623872133333

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(242)
s = pd.Series(data=np.random.normal(size=100))
print(s)

s = s ** 3
s.index *= 3
print(s)

sum1 = s.where((s.index % 2 != 0) & (s < 2.6)).sum()
print(sum1)
sum_ = s[(x % 2 != 0 for x in s.index) and (s < 2.6)].sum()
print(sum_)

count1 = s.where(s < 0).count()
count_ = s[s < 0].count()
print(count1)
print(count_)

0    -0.357519
1     0.148448
2     0.993531
3     1.838968
4    -0.744026
        ...
95    0.950296
96    0.737315
97   -0.739985
98   -1.376260
99    0.052260
Length: 100, dtype: float64
0     -0.045698
3      0.003271
6      0.980718
9      6.219024
12    -0.411874
         ...
285    0.858176
288    0.400829
291   -0.405199
294   -2.606764
297    0.000143
Length: 100, dtype: float64
-15.150748101821668
-34.60623872133333
51
51

Задание 4

    В tr_types выберите произвольные 100 строк с помощью метода sample (указав при этом random_seed равный 242)
    В полученной на предыдущем этапе подвыборке найдите долю наблюдений (стобец tr_description), в которой содержится подстрока 'плата' (в любом регистре). (*)

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"
Пояснения:

(*) Строки "ПлатА за аренду", "ПлатАза аренду", "ПЛАТА" удовлетворяют условию, так как будучи переведёнными в нижний регистр содержат подстроку "плата".

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(242)
df = pd.read_csv(filepath_or_buffer=r'/tr_types.csv', sep=';')
df = df.sample(100)
print(df)

     tr_type                                     tr_description
37      6210                    Возврат покупки.POS Зарубеж. ТУ
50      7034  Перевод на карту/ с карты через АТМ (без взима...
145     2431  Перевод с карты на счет физ.лица в другом банк...
4       4001  Плата за получение наличных в Сбербанке (в дру...
69      8000                   Поправки по счету клиен. Зачисл.
..       ...                                                ...
24      4100                Плата за получение наличных. Россия
130     2371  Списание с карты на карту по операции <перевод...
140     2421  Перевод с карты на счет физ.лица в другом тер....
6       4011  Плата за получение наличных в АТМ Сбербанка (в...
52      7040  Перевод на карту (с карты) через POS (в предел...

[100 rows x 2 columns]

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(242)
df = pd.read_csv(filepath_or_buffer=r'/tr_types.csv', sep=';')
df = df.sample(10)
print(df, '\n')
d = df.loc[df.tr_description.str.lower().str.contains('плата')].count()[0] / len(df)
print(d)

     tr_type                                     tr_description
37      6210                    Возврат покупки.POS Зарубеж. ТУ
50      7034  Перевод на карту/ с карты через АТМ (без взима...
145     2431  Перевод с карты на счет физ.лица в другом банк...
4       4001  Плата за получение наличных в Сбербанке (в дру...
69      8000                   Поправки по счету клиен. Зачисл.
43      7020                           Взнос наличных через POS
5       4010        Плата за получение наличных в АТМ Сбербанка
125     2351                Погашение кредита с карты через ВСП
16      4060  Плата за перевод на карту (с карты) через POS ...
120     2332  Списание с карты по операции “перевода с карты...

0.3

# Задание 5

    Для поля tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.
    Из перечисленных вариантов выберите те, которые попали в топ-5 транзакций по частоте встречаемости.

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(242)
# df = pd.read_csv(filepath_or_buffer=r'D:\data\tr_types.csv', sep=';')
# df = df.sample(10)
# print(df, '\n')
# d = df.loc[df.tr_description.str.lower().str.contains('плата')].count() / len(df)
# print(d)

df1 = pd.read_csv(filepath_or_buffer=r'/transactions.csv', sep=',')
print(df1.tr_type)
d1 = df1.tr_type
dict_ = {}
for i in d1:
    if dict_.get(str(i)):
        dict_[str(i)] += 1
    else:
        dict_[str(i)] = 1

print(dict_)

dictS = sorted(dict_.items(), key=lambda item: item[1], reverse=True)

print(dictS[:5])

0          1030
1          7010
2          2330
3          1010
4          1010
           ...
6849341    1010
6849342    1010
6849343    1010
6849344    1110
6849345    7010
Name: tr_type, Length: 6849346, dtype: int64
{'1030': 970994, '7010': 258088, '2330': 69633, '1010': 1589734, '2010': 1040713, '7020': 14529, '1110': 928154, '6110': 19822, '7014': 2424, '1100': 117870, '2020': 13035, '2370': 376521, '7070': 691896, '7030': 155200, '7071': 96146, '2331': 20881, '4051': 20877, '6010': 1947, '2011': 63127, '4011': 12337, '4010': 32518, '2320': 4765, '2371': 65809, '4071': 65806, '4110': 9429, '2110': 9457, '2460': 1419, '1200': 90742, '2440': 3588, '4090': 1021, '1210': 20830, '7021': 8663, '7031': 34676, '6200': 3855, '6100': 1829, '7074': 2457, '4041': 884, '4210': 3221, '2210': 4372, '7011': 11029, '4021': 84, '2021': 570, '7040': 252, '2340': 183, '4031': 562, '7034': 838, '7035': 199, '1410': 1302, '1310': 1173, '2456': 652, '4097': 541, '6000': 52, '2100': 124, '4100': 138, '4500': 326, '4061': 49, '2341': 49, '7024': 82, '4020': 295, '8145': 12, '1510': 20, '7075': 438, '4200': 31, '2200': 38, '7041': 89, '1000': 43, '7015': 58, '8146': 10, '6210': 501, '2446': 77, '4096': 77, '8100': 137, '7025': 33, '4045': 8, '4035': 3, '7044': 1, '2000': 1}
[('1010', 1589734), ('2010', 1040713), ('1030', 970994), ('1110', 928154), ('7070', 691896)]

# Задание 6

    В датафрейме transactions задайте столбец customer_id в качестве индекса.
    Выделите клиента с максимальной суммой транзакции (то есть с максимальным приходом на карту). (*)

In [ ]:
import pandas as pd

df = pd.read_csv(filepath_or_buffer=r'/transactions.csv',
                 sep=',',
                 index_col='customer_id',
                 )
df1 = df.groupby('customer_id')['amount'].max()

print(df1[df1 == df1.max()])

customer_id
26782922    1.459845e+08
Name: amount, dtype: float64

# Задание 7
Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с customers_gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.

В результате соединения датафреймов должно получиться 999584 строки.

In [ ]:
import pandas as pd

transactions = pd.read_csv(filepath_or_buffer=r'/transactions.csv', sep=',')
tr_mcc_codes = pd.read_csv(filepath_or_buffer=r'/tr_mcc_codes.csv', sep=';')
tr_types = pd.read_csv(filepath_or_buffer=r'/tr_types.csv', sep=';')
gender_train = pd.read_csv(filepath_or_buffer=r'/gender_train.csv', sep=',')
print(gender_train)
print(tr_mcc_codes)
print(tr_types)
print(transactions)

df = pd.merge(transactions, gender_train, how='left')
df = pd.merge(pd.merge(df, tr_types, how='inner'), tr_mcc_codes, how='inner')
print(df)

      customer_id  gender
0        10928546       1
1        69348468       1
2        61009479       0
3        74045822       0
4        27979606       1
...           ...     ...
8395     90417572       0
8396     66837341       0
8397     10758984       1
8398     11376556       0
8399     29190649       0

[8400 rows x 2 columns]
     mcc_code                                    mcc_description
0         742                                Ветеринарные услуги
1        1711  Генеральные подрядчики по вентиляции, теплосна...
2        1731                        Подрядчики по электричеству
3        1799  Подрядчики, специализированная торговля — нигд...
4        2741           Разнообразные издательства/печатное дело
..        ...                                                ...
179      9211  Судовые выплаты, включая алименты и детскую по...
180      9222                                             Штрафы
181      9311                                  Налоговые платежи
182      9399  Правительственные услуги, нигде ранее не класс...
183      9402             Почтовые услуги — только правительство

[184 rows x 2 columns]
     tr_type                                     tr_description
0       3200  Плата за предоставление услуг посредством моби...
1       3210  Плата за предоставление отчета по счету карты ...
2       3800  Плата за обслуживание банковской карты (за пер...
3       4000            Плата за получение наличных в Сбербанке
4       4001  Плата за получение наличных в Сбербанке (в дру...
..       ...                                                ...
150     2990                             Списание по требованию
151     2992  Списание средств для погашения задолженности п...
152     3001            Комиссия за обслуживание ссудного счета
153     3030  Плата за обслуживание банковской карты (за пос...
154     3120                Плата за досрочный перевыпуск карты

[155 rows x 2 columns]
         customer_id   tr_datetime  mcc_code  tr_type     amount   term_id
0           39026145    0 10:23:26      4814     1030   -2245.92       NaN
1           39026145    1 10:19:29      6011     7010   56147.89       NaN
2           39026145    1 10:20:56      4829     2330  -56147.89       NaN
3           39026145    1 10:39:54      5499     1010   -1392.47       NaN
4           39026145    2 15:33:42      5499     1010    -920.83       NaN
...              ...           ...       ...      ...        ...       ...
6849341     61870738  453 16:03:02      5499     1010   -5176.84  10217113
6849342     61870738  454 10:54:60      5411     1010   -1652.77    022915
6849343     61870738  454 14:23:59      5499     1010   -4687.23  10217113
6849344     61870738  454 16:11:53      5541     1110   -4491.83  RU570124
6849345     61870738  454 18:06:30      6011     7010  408756.67    372701

[6849346 rows x 6 columns]
         customer_id   tr_datetime  mcc_code  tr_type     amount   term_id  \
0           39026145    0 10:23:26      4814     1030   -2245.92       NaN
1           39026145    6 07:08:31      4814     1030   -5614.79       NaN
2           39026145    8 07:06:10      4814     1030   -1122.96       NaN
3           39026145   11 08:49:03      4814     1030   -2245.92       NaN
4           39026145   11 14:12:08      4814     1030   -2245.92       NaN
...              ...           ...       ...      ...        ...       ...
6846575      5307689  351 00:00:00      5964     6100    1309.14  00000001
6846576     98373939  239 00:00:00      5964     6100    8428.02  00000001
6846577     65797083   73 00:00:00      5964     8100  555676.17       NaN
6846578     65797083   73 00:00:00      5964     8100  689498.61       NaN
6846579     65797083   73 00:00:00      5964     8100  526554.95       NaN

         gender                                  tr_description  \
0           1.0                  Оплата услуги. Банкоматы СБ РФ
1           1.0                  Оплата услуги. Банкоматы СБ РФ
2           1.0                  Оплата услуги. Банкоматы СБ РФ
3           1.0                  Оплата услуги. Банкоматы СБ РФ
4           1.0                  Оплата услуги. Банкоматы СБ РФ
...         ...                                             ...
6846575     0.0                     Возврат  покупки. ТУ Россия
6846576     0.0                     Возврат  покупки. ТУ Россия
6846577     NaN  Списание после проведения претензионной работы
6846578     NaN  Списание после проведения претензионной работы
6846579     NaN  Списание после проведения претензионной работы

                                           mcc_description
0        Звонки с использованием телефонов, считывающих...
1        Звонки с использованием телефонов, считывающих...
2        Звонки с использованием телефонов, считывающих...
3        Звонки с использованием телефонов, считывающих...
4        Звонки с использованием телефонов, считывающих...
...                                                    ...
6846575          Прямой маркетинг — торговля через каталог
6846576          Прямой маркетинг — торговля через каталог
6846577          Прямой маркетинг — торговля через каталог
6846578          Прямой маркетинг — торговля через каталог
6846579          Прямой маркетинг — торговля через каталог

[6846580 rows x 9 columns]

# Задание 8
Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount). (*)

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"
Пояснения:

(*) Если в результате для мужчин получились значения [-1,-3,-5], а для женщин [-1,-2,-3], то модуль разницы между средними арифметическими -3 и -2 будет равен 1.

In [ ]:
import pandas as pd

transactions = pd.read_csv(filepath_or_buffer=r'/transactions.csv', sep=',')
tr_mcc_codes = pd.read_csv(filepath_or_buffer=r'/tr_mcc_codes.csv', sep=';')
tr_types = pd.read_csv(filepath_or_buffer=r'/tr_types.csv', sep=';')
gender_train = pd.read_csv(filepath_or_buffer=r'/gender_train.csv', sep=',')
# print(gender_train)
# print(tr_mcc_codes)
# print(tr_types)
# print(transactions)

df = pd.merge(transactions, gender_train, how='left')


df1 = df[df['gender'] == 1.0]

df1 = df1[df1['amount'] < 0]
df2 = df1['amount'].sum()

df1_1 = df[df['gender'] == 0.0]

df1_1 = df1_1[df1_1['amount'] < 0]
df2_1 = df1_1['amount'].sum()


print(round(abs(df2_1 - df2), 2))

29428413828.05

# Задание 9

    Создайте новый столбец - mcc_code+tr_type, сконкатенировав значения из соответствующих столбцов. (*)
    Оставьте только наблюдения с отрицательным значением amount.

In [ ]:
import pandas as pd

transactions = pd.read_csv(filepath_or_buffer=r'/transactions.csv', sep=',')
tr_mcc_codes = pd.read_csv(filepath_or_buffer=r'/tr_mcc_codes.csv', sep=';')
tr_types = pd.read_csv(filepath_or_buffer=r'/tr_types.csv', sep=';')
gender_train = pd.read_csv(filepath_or_buffer=r'/gender_train.csv', sep=',')
# print(gender_train)
# print(tr_mcc_codes)
# print(tr_types)
# print(transactions)

df = pd.merge(transactions, gender_train, how='left')
df = pd.merge(pd.merge(df, tr_types, how='inner'), tr_mcc_codes, how='inner')
print(df)
df['mcc_code+tr_type'] = df['mcc_code'].astype(str)+df['tr_type'].astype(str)
print(df[df['amount'] < 0])

         customer_id   tr_datetime  mcc_code  tr_type     amount   term_id  \
0           39026145    0 10:23:26      4814     1030   -2245.92       NaN
1           39026145    6 07:08:31      4814     1030   -5614.79       NaN
2           39026145    8 07:06:10      4814     1030   -1122.96       NaN
3           39026145   11 08:49:03      4814     1030   -2245.92       NaN
4           39026145   11 14:12:08      4814     1030   -2245.92       NaN
...              ...           ...       ...      ...        ...       ...
6846575      5307689  351 00:00:00      5964     6100    1309.14  00000001
6846576     98373939  239 00:00:00      5964     6100    8428.02  00000001
6846577     65797083   73 00:00:00      5964     8100  555676.17       NaN
6846578     65797083   73 00:00:00      5964     8100  689498.61       NaN
6846579     65797083   73 00:00:00      5964     8100  526554.95       NaN

         gender                                  tr_description  \
0           1.0                  Оплата услуги. Банкоматы СБ РФ
1           1.0                  Оплата услуги. Банкоматы СБ РФ
2           1.0                  Оплата услуги. Банкоматы СБ РФ
3           1.0                  Оплата услуги. Банкоматы СБ РФ
4           1.0                  Оплата услуги. Банкоматы СБ РФ
...         ...                                             ...
6846575     0.0                     Возврат  покупки. ТУ Россия
6846576     0.0                     Возврат  покупки. ТУ Россия
6846577     NaN  Списание после проведения претензионной работы
6846578     NaN  Списание после проведения претензионной работы
6846579     NaN  Списание после проведения претензионной работы

                                           mcc_description
0        Звонки с использованием телефонов, считывающих...
1        Звонки с использованием телефонов, считывающих...
2        Звонки с использованием телефонов, считывающих...
3        Звонки с использованием телефонов, считывающих...
4        Звонки с использованием телефонов, считывающих...
...                                                    ...
6846575          Прямой маркетинг — торговля через каталог
6846576          Прямой маркетинг — торговля через каталог
6846577          Прямой маркетинг — торговля через каталог
6846578          Прямой маркетинг — торговля через каталог
6846579          Прямой маркетинг — торговля через каталог

[6846580 rows x 9 columns]
         customer_id   tr_datetime  mcc_code  tr_type     amount   term_id  \
0           39026145    0 10:23:26      4814     1030   -2245.92       NaN
1           39026145    6 07:08:31      4814     1030   -5614.79       NaN
2           39026145    8 07:06:10      4814     1030   -1122.96       NaN
3           39026145   11 08:49:03      4814     1030   -2245.92       NaN
4           39026145   11 14:12:08      4814     1030   -2245.92       NaN
...              ...           ...       ...      ...        ...       ...
6843491      8860625  390 00:00:00      5964     1200  -26035.33  29744545
6843492      8860625  393 00:00:00      5964     1200   -6999.85  29744510
6843493      8860625  405 00:00:00      5964     1200  -40950.01  WPGTID01
6843494      8860625  424 00:00:00      5964     1200 -546498.46  WPGTID01
6843495     52358368   73 00:00:00      5964     1210 -388511.99       NaN

         gender                  tr_description  \
0           1.0  Оплата услуги. Банкоматы СБ РФ
1           1.0  Оплата услуги. Банкоматы СБ РФ
2           1.0  Оплата услуги. Банкоматы СБ РФ
3           1.0  Оплата услуги. Банкоматы СБ РФ
4           1.0  Оплата услуги. Банкоматы СБ РФ
...         ...                             ...
6843491     NaN            Покупка. Зарубеж. ТУ
6843492     NaN            Покупка. Зарубеж. ТУ
6843493     NaN            Покупка. Зарубеж. ТУ
6843494     NaN            Покупка. Зарубеж. ТУ
6843495     NaN       Покупка. POS  Зарубеж. ТУ

                                           mcc_description mcc_code+tr_type
0        Звонки с использованием телефонов, считывающих...         48141030
1        Звонки с использованием телефонов, считывающих...         48141030
2        Звонки с использованием телефонов, считывающих...         48141030
3        Звонки с использованием телефонов, считывающих...         48141030
4        Звонки с использованием телефонов, считывающих...         48141030
...                                                    ...              ...
6843491          Прямой маркетинг — торговля через каталог         59641200
6843492          Прямой маркетинг — торговля через каталог         59641200
6843493          Прямой маркетинг — торговля через каталог         59641200
6843494          Прямой маркетинг — торговля через каталог         59641200
6843495          Прямой маркетинг — торговля через каталог         59641210

[5538911 rows x 10 columns]